@import "variables";

.prediction {
    > *:not(:last-child) {
        margin-bottom: 20px;
    }
}

.table {
    border: 1px solid $light-silver;
    border-radius: 10px;

    &__row {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        width: 100%;

        &:first-child {
            border-radius: 10px 10px 0 0;
        }

        &--bg {
            background-color: $dark-white;
        }

        &:not(:first-child):not(:last-child) {
            border-bottom: 1px solid $light-silver;
        }
    }

    &__cell {
        text-align: center;
        white-space: nowrap;
        padding: 16px;

        &--left {
            text-align: left;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.mobile-table {
    display: none;
    @media (max-width: 768px) {
        display: block;
        border: 1px solid $light-silver;
        border-radius: 10px;

        &__header {
            padding: 16px;
            background-color: $dark-white;
            border-radius: 10px 10px 0 0;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 768px;
        width: 100%;

        &:not(:first-child):not(:last-child) {
            border-bottom: 1px solid $light-silver;
        }
    }

    &__cell {
        text-align: left;
        white-space: nowrap;
        padding: 16px;

        &--color {
            color: $gray;
        }

        @media (max-width: 600px) {
            font-size: 14px;
        }
    }
}
